DEPLOYMENT_URL=https://vadim-cebanu.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/learning-journal/
GITHUB_ORG=vadim-cebanu
GITHUB_PROJECT=learning-journal
GIT_REPOSITORY_URL=https://github.com/vadim-cebanu/learning-journal